body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.dark {
    background-color: #191919;
    color: #FFFFFF;
}

.light {
    background-color: #FFFFFF;
    color: #191919;
}

#container {
    padding: 20px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.dark #container {
    background-color: #252525;
}

.light #container {
    background-color: #F1F1F1;
}

#title {
    font-size: 24px;
    margin-bottom: 10px;
}

#countdown {
    font-size: 48px;
    font-weight: bold;
}

#settings-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

#settings {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 10;
    width: 300px;
}

.dark #settings {
    background-color: #191919;
    color: #FFFFFF;
}

.light #settings {
    background-color: #F1F1F1;
    color: #191919;
}

input,
select {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
    background-color: #252525;
    border: 1px solid white;
}

button {
    width: 100%;
    padding: 10px;
    cursor: pointer;
}